.logo{
    height: 3.4rem;
    margin-left: 3rem;
}

.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{
        font-family: inherit;
        padding: .5rem 2rem;
        outline: none;
        border: none;
        border-radius: 10rem;
        width: 90%;
        color: inherit;
        background-color: var(--color-grey-light-2);
        transition: all .2s;
        margin-right: -3.5rem;
        &::placeholder{
            opacity: .7;
        }
        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
    }

    &__button{
        height: 2.39rem;
        overflow: hidden;
        width: 1.9rem;
        transform: translateY(0rem) translateX(1.3rem);
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: var(--color-grey-light-2);
        .images{
            height: 4.5rem;
            transform: translateY(-1.3rem) translateX(-1.4rem);
            background-color: var(--color-grey-light-2);
        }
    }
}

.user-nav{
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: stretch;
    height: 100%;
    
    &__icon-box{

        &--item{
            list-style: none;
        }

        &--list{
            display: inline-block;
            padding: 2.19rem 1.59rem;
            position: relative;
            &:hover{
                background-color: var(--color-grey-light-2);
            }
        }

        &--link{
            font-size: 14px;
            text-decoration: none;
            color: inherit;

        }

        .notification{
            background-color: var(--color-primary);
            font-size: 11px;
            color: white;
            width: 1.79rem;
            height: 1.79rem;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: .59rem;
            right: .3rem;
            text-align: center;
            padding-top: .18rem;
            padding-right: .13rem;
        }
    }

    &__user{
        
        padding: 1.15rem 1rem;
        &:hover{
            background-color: var(--color-grey-light-2);
        }
    }

    &__image{
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
    }

    &__user-name{
        transform: translateY(-12px);
        display: inline-block;
        font-size: 1.1rem;
    }
}


.content{
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .legal{
        font-size: 12px;
        color: white;
        text-align: center;
        padding-bottom: 10px;
    }
}

.side-nav{
    list-style: none;
    padding-top: 2.6rem;
    &__item{
        padding: 1.4rem 1rem;
        position: relative;
        transition: all .3s;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        &:active::before{
            background-color: var(--color-primary-light);
        }


        &::before{
            background-color: var(--color-primary);
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 3px;
            height: 100%;
            transition: transform .2s, 
                        width .4s .2s cubic-bezier(1, 0, 0, 1),
                        background-color .1s;
            z-index: 10;
            display: block;
            transform: scaleY(0);
        }

        &:hover::before, 
        &--active::before{
            transform: scaleY(1);
            width: 100%;
        }

    }

    &__link{

        &:link,
        &:visited{
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
            display: block;
            padding-left: 2rem;
            z-index: 20;
            position: relative;
        }

    }
}


.gallary{
    display: flex;

    &__photo1{
        width: 169%;
        display: block;
        height: 18rem;
    }
    &__photo2{
        width: 189.99%;
        display: block;
        height: 18rem;
        transform: translateX(11.1rem);
    }
    &__photo3{
        width: 150.8%;
        display: block;
        height: 18rem;
        transform: translateX(24.1rem);
    }
}


.overview{
    position: relative;
    z-index: 200;
    transform: translateY(20rem);
    display: flex;
    justify-content: space-between;
    display: block;

    &__heading{
        transform: translateX(-48rem) translateY(-1.5rem);
        font-size: 2.1rem;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: .09rem;
        padding: 1rem 2rem;
    }
    
    &__star{
        transform: translateX(-21.9rem) translateY(-4.69rem);
    }
    
    &__image{
        width: 1.75rem;
        height: 1.75rem;
    }
    
    &__location{
        transform: translateX(8rem) translateY(-7.1rem);
        font-size: 1.2rem;

        
    }
    .inline-button{
        transform: translateY(-1.1rem);
        border: none;
        font-size: inherit;
        color: var(--color-primary);
        border-bottom: 1px solid currentColor;
        text-transform: uppercase;
        padding-bottom: 4px;
        background-color: transparent;
        cursor: pointer;
        transition: color 1s,
        animation 1s 1s;
        position: relative;


        &:hover{
            color: var(--color-grey-dark-1);
        }

        &:focus{
            animation: mover 1s infinite;
            outline: none;
            top: .79rem;
            left: 3.3rem;
            position: absolute;
        }
    }
    
    .location{
        width: 2.99rem;
        height: 2.99rem;
    }
    
    &__rating{
        transform: translateX(28rem) translateY(-8.7rem);
        background-color: var(--color-primary);
        color: white;
        margin-left: .3rem;
        font-size: 1.3rem;
        position: absolute;
        top: 6.7rem;
        right: 19.37rem;
        height: 4.5rem;
        width: 6rem;
        text-align: center;
        padding-top: .47rem;
    }
    
    &__rating-average{
        font-size: 1.9rem;
    }
    
    &__rating-count{
        font-size: 1.1rem;
    }
}

@keyframes mover {
    0%{
        transform: scale(1);
        box-shadow: none;
    }
    
    50%{
        transform: scale(1.05);
        box-shadow: 0px 1rem 4rem rgba($color: #000000, $alpha: .3);
    }
    
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}


.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list{
    list-style: none;
    margin: 3rem 0px;
    padding: 3rem 0px;
    border-top: 1px solid var(--color-grey-light-3);
    border-bottom: 1px solid var(--color-grey-light-3);
    line-height: 2.7rem;

    display: flex;
    flex-wrap: wrap;
    
    &__item{
        flex: 0 0 50%;

        &:nth-child(even) {
            transform: translateX(3rem);
        }

        .span{
            color: var(--color-primary);
            font-size: 1.5rem;
        }
    }
}


.recommend{
    color: var(--color-grey-dark-3);
    font-size: 1.03rem;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 500;
    &__count{
        font-size: inherit;

    }

    &__friends{
        margin-top: -1.2rem;
        margin-left: 1rem;
    }

    &__photo{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid white;
        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}


.users-review{

    position: relative;
    .review{
        background-color: white;
        box-shadow: 0 2.5rem 4rem rgba($color: rgb(0, 0, 0), $alpha: .06);
        padding: 3.6rem 2.9rem;
        margin-bottom: 3.5rem;
        overflow: hidden;
        position: relative;
    
        &__text{
            position: relative;
            z-index: 33;
        }
    
        &__user{
            display: flex;
            transform: translateY(2rem);
        }
    
        &__image{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
        }
    
        &__user-box{
            margin-left: 1rem;
            font-size: 1rem;
            margin-top: .6rem;
        }
    
        &__user-name{
            text-transform: uppercase;
            font-weight: bold;
        }
    
        &__user-date{
            font-size: .95rem;
        }
    
        &__rating{
            color: var(--color-primary);
            font-size: 1.9rem;
            transform: translateY(.659rem) translateX(5rem);
        }

        &::before{
            content: "\201c";
            font-size: 19rem;
            position: absolute;
            top: -2.75rem;
            left: -.7rem;
            z-index: 2;
            color: var(--color-grey-light-3);
        }
    }
    .inline-button{
        transform: translateY(1.4rem) translateX(90%);
        border: none;
        font-size: inherit;
        color: var(--color-primary);
        border-bottom: 1px solid currentColor;
        text-transform: uppercase;
        padding-bottom: 4px;
        background-color: transparent;
        cursor: pointer;
        transition: color 1s,
        animation 1s 1s;
        position: relative;


        &:hover{
            color: var(--color-grey-dark-1);
        }

        &:focus{
            animation: mover 1s infinite;
            outline: none;
            top: 43rem;
            left: 30%;
            position: absolute;
        }
    }
    
}

.cta{
    text-align: center;
    transform: translateY(14.5rem);

    &__book-now{
        font-size: 1.29rem;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        font-weight: lighter;
    }


}

.btn{
    font-size: 1.24rem;
    border: none;
    border-radius: 10rem;
    color: white;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));

    &__visible{
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 1.7rem 4.2rem;
        transition: all .2s;
    }

    &__invisible{
        display: inline-block;
        position: absolute;
        padding: 1.7rem 0rem;
        height: 100%;
        width: 100%;
        left: 0px;
        top: -100%;
        transition: all .2s;
    }

    &:hover &__visible{
        transform: translateY(100%);
    }

    &:hover &__invisible{
        top: 2px;
    }

    &:focus{
        animation: button 1s infinite;
    }
}

@keyframes button {
    0%{
        transform: scale(1);
        box-shadow: none;
    }
    
    50%{
        transform: scale(1.05);
        box-shadow: 0px 1rem 4rem rgba($color: #000000, $alpha: .3);
    }
    
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

