*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0px 2rem 6rem rgba($color: rgb(0, 0, 0), $alpha: .7);
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    font-weight: lighter;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--color-grey-dark-2);
}
.empty{
    background-color: white;
    width: 100%;
    position: absolute;
    top: 18rem;
    border-bottom: 1px solid var(--color-grey-light-3);
    height: 4.6rem;
    z-index: 10;

}