.container{
    max-width: 100rem;
    margin: 6rem auto;
    box-shadow: 0px 2rem 6rem rgba($color: rgb(0, 0, 0), $alpha: .4);
    background-color: var(--color-grey-light-1);
    min-height: 50rem;
}
.header{
    height: 6rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    .sidebar{
        background-color: var(--color-grey-dark-1);
        flex: 0 0 18%;
        min-height: 100rem;
    }

    .hotel-view{
        flex: 1;
        background-color: var(--color-grey-light-2);
        position: relative;
    }
}

.details{
    font-size: 1.4rem;
    display: flex;
    transform: translateY(4.7rem);
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-grey-light-2);
}

.description{
    background-color: white;
    box-shadow: 0 2.5rem 4rem rgba($color: rgb(0, 0, 0), $alpha: .06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.users-review{
    font-size: 1.3rem;
    flex: 1;
}
