// COLORS


$primary: #eb2f64;
$primary-light: #ff3366;
$primary-dark: #ba265d;


$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-4: #ccc;


$grey-dark-1: rgb(51, 51, 51);
$grey-dark-2: #777;
$grey-dark-3: #999;